In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('DOGE_USD (2).csv')

In [17]:
df.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  2021-07-05  0.246419  0.246419  0.227838  0.231614   0.231614  1267949362
1  2021-07-06  0.231216  0.241910  0.229842  0.234422   0.234422  1265920169
2  2021-07-07  0.234301  0.237851  0.222576  0.224126   0.224126  1148903688
3  2021-07-08  0.224383  0.224930  0.202987  0.207597   0.207597  1789637577
4  2021-07-09  0.207073  0.229139  0.196607  0.219864   0.219864  3045790264

In [18]:
df['Date'] = pd.to_datetime(df['Date'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    datetime64[ns]
 1   Open       366 non-null    float64
 2   High       366 non-null    float64
 3   Low        366 non-null    float64
 4   Close      366 non-null    float64
 5   Adj Close  366 non-null    float64
 6   Volume     366 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 20.1 KB

In [20]:
df.drop(100,axis = 0,inplace=True)

In [21]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [22]:
col = ['Open', 'Low', 'Close', 'Adj Close**', 'Volume']
for x in col:
    df[x] = pd.to_numeric

In [23]:
df['Date'] = pd.to_datetime(df['Date'])

In [24]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close**
0,2021-07-05,<function to_numeric at 0x00000087324BD4C0>,0.246419,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.231614,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
1,2021-07-06,<function to_numeric at 0x00000087324BD4C0>,0.241910,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.234422,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
2,2021-07-07,<function to_numeric at 0x00000087324BD4C0>,0.237851,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.224126,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
3,2021-07-08,<function to_numeric at 0x00000087324BD4C0>,0.224930,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.207597,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
4,2021-07-09,<function to_numeric at 0x00000087324BD4C0>,0.229139,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.219864,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
...,...,...,...,...,...,...,...,...
361,2022-07-01,<function to_numeric at 0x00000087324BD4C0>,0.067862,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.066175,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
362,2022-07-02,<function to_numeric at 0x00000087324BD4C0>,0.067692,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.066698,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
363,2022-07-03,<function to_numeric at 0x00000087324BD4C0>,0.067356,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.067179,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
364,2022-07-04,<function to_numeric at 0x00000087324BD4C0>,0.069605,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.069472,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
365,2022-07-05,<function to_numeric at 0x00000087324BD4C0>,0.069841,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.066358,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>

In [25]:
df[(df['Date'] >= pd.Timestamp(2022,4,1)) &(df['Date'] <= pd.Timestamp(2022,5,31))]

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close**
270,2022-04-01,<function to_numeric at 0x00000087324BD4C0>,0.142394,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.141315,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
271,2022-04-02,<function to_numeric at 0x00000087324BD4C0>,0.144069,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.138913,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
272,2022-04-03,<function to_numeric at 0x00000087324BD4C0>,0.148558,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.146453,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
273,2022-04-04,<function to_numeric at 0x00000087324BD4C0>,0.155312,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.148591,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
274,2022-04-05,<function to_numeric at 0x00000087324BD4C0>,0.178045,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.172907,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
...,...,...,...,...,...,...,...,...
326,2022-05-27,<function to_numeric at 0x00000087324BD4C0>,0.085384,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.081335,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
327,2022-05-28,<function to_numeric at 0x00000087324BD4C0>,0.083048,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.081839,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
328,2022-05-29,<function to_numeric at 0x00000087324BD4C0>,0.083034,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.082686,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
329,2022-05-30,<function to_numeric at 0x00000087324BD4C0>,0.088275,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.087871,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>
330,2022-05-31,<function to_numeric at 0x00000087324BD4C0>,0.088230,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>,0.085865,<function to_numeric at 0x00000087324BD4C0>,<function to_numeric at 0x00000087324BD4C0>

In [26]:
df.to_csv('dogedata.csv',index=False)

In [27]:
df.to_excel('dogedata.xlsx',sheet_name='DOGE', index =False)

In [28]:
with pd.ExcelWriter('Dogedata101.xlsx',engine='xlsxwriter') as writer:
    df[(df['Date'] >= pd.Timestamp(2022,4,1)) &(df['Date'] <= pd.Timestamp(2022,5,31))].to_excel(writer,sheet_name='APRMAY',index=False,engine='xlsxwriter')
    df[(df['Date'] >= pd.Timestamp(2022,6,1)) &(df['Date'] <= pd.Timestamp(2022,7,5))].to_excel(writer,sheet_name='JUNJUL',index=False,engine='xlsxwriter')